.temp {
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 60vh;
  width: 60vh;
  background-color: aquamarine;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

.inputField {
  font-size: 17px;
  margin-top: 10px;
  border-color: rgb(0, 206, 255);
  padding: 5px 5px;
  border-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.inputField:hover {
  border-color: black;
}

.temp-min {
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tempT {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cen {
  font-size: 35px;
  text-align: center;
}

.fa {
  margin: 0px 10px !important;
}

.no {
  text-align: center;
  font-size: 25px;
}
